// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3; // sidebar is then with a 25% ratio

// Colors
$brand-primary:         #066481;
