/* Custom stylings for the climate feedback theme should go here. */

@import url(http://fonts.googleapis.com/css?family=Raleway:500,400,300,800,700);

html, body, p, li {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
//    overflow-x: hidden;
}

ol, ul {
	list-style-position: inside;
}

a {
  color: #066481;

  &:hover {
    color: #043E4B;
  }

  &.btn {
    background-color: #3AAFCB;
  }
  &.inline-btn {
    text-decoration: none;
  }
}

a.bott {
  &.btn {
    background-color: #066481;
  }
}

.inline-btn{
    background-color: #d3d3d3;
    padding: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    overflow: hidden;
}

h3 {
	font-weight: 400;
}

.small {
	font-size: .9em;

  p {
    font-size: .9em;
    margin-top: 2em;
  }
}

.headline {
  margin-bottom: -1em;
}

.quote {
	font-size: .9em;
	opacity: .8;
	padding-top: 65px;
}

.sigla {
	background-image: url(http://climatefeedback.org/wp-content/uploads/2015/07/copyright_2013_EUMETSAT_optimized.jpg);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: cover;
    color: #fff;
}

.myfull {
  position: relative;
  margin: 0 -30px;
  padding: 0.35rem 30px;
  background-image: url(http://climatefeedback.org/wp-content/uploads/2015/07/copyright_2013_EUMETSAT_optimized.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.myfull:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9600px;
  right: 100%;
  background: black;
}
.myfull:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background: black;
  width: 5000px;
  left: 100%;
}

.tagline {
	margin-top: -20px;
	margin-bottom: 100px;
}

.half-black{
    background: rgba(0, 0, 0, 0.2);
}

.navbar {
	background-color: transparent;
	margin-bottom: 0px;
    padding: 14px;
}

.fig {
	width: 100%;
	padding-top: 2em;
	padding-bottom: 0.5em;
}

.spaceup{
    padding-top: 2em;
}

.spaceup1{
    padding-top: 1em;
}

.spaceup05{
    padding-top: 0.5em;
}

.sci-fig {
    height: 140px;
 	padding-top: 2em;
 	padding-bottom: 0.5em;
 }

.valign{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.logo {
  font-weight: 500;
  font-size: 24px;

  img {
      height: 64px;
      float: left;
      position: relative;
      top: -20px;
      right: 13px;
  }
}

.caption {
	font-size: .7em;
}

footer {
  padding-bottom: 2em;

  &.content-info {
    padding-bottom: 20px;
    padding-top: 10px;
    background: #046380;
    color: #FFF;
  }

  a {
    color: #3AAFCB;

    &:hover {
      color: #5DB3C1;
    }
  }

  img {
    width: auto;
    height: auto;
    max-height: 4em;
    max-width: 100%;
  }
}


/* Spacing between sections */
section {
	padding: 1em 1em;
}

.grey {
	background-color: #EEE;
}

.social-media {
  float: right;
  padding-top: 7px;
  font-size: 1.4em;

  a {
    color: #777;
    padding: 3px;

    &:hover {
      color: #333;
    }
  }
}

.social-footer {
  float: center;
  padding-top: 7px;
  font-size: 1.4em;

  a {
    color: #FFFFFF;
    padding: 3px;

    &:hover {
      color: #999;
    }
  }
}

.postpic {
  img {
    width: 275px !important;
    height: auto !important;
    margin-top: 1.7em;
    margin-right: 2em;
  }
}

.highlevel-overview {
  .row {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}


// People and Expert loops ///////////////
.responsive-modal-image {
  img {
    max-width: 150px;
    height: auto;
  }
}

.picunit {
  img {
    width: 150px;
    height: auto;
  }
}

.expert {
  img {
    width: 140px;
    height: auto;
    margin: 0.5em;
  }
  p {
    margin: 0px 2px 5px;
  }
}

.med-left {
    float: left;
    background:transparent;
    padding-right: 10px;
}

.med-body {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
    overflow: hidden;
    float: none;
    padding-left: 5px;
    line-height: 130%;
}

// PRESS /////////////////////////////
.press-fig {
  height: 80px;
  padding-top: 0.5em;
  padding-right: 40px;
  padding-bottom: 0.5em;
}

.press {
  margin-top: 25px;
  margin-bottom: 25px;
}

// .news-and-evaluations {
//   // Replace these with actual classes.
//   margin-bottom: 2em;
//   .col-sm-6:first-of-type {
//     margin: -2em;
//   }
//   .col-sm-6:nth-of-type(2) {
//     margin-top: -2em;
//     margin-left: 4em;
//   }
// }

.scientist-signup {
  background: #046380;
  color: #FFF;
}

.scientist-signup_full_bottom {
  position: relative;
  margin: 0 -30px;
  padding: 0.35rem 30px;
  background: #071C25;
  color: #FFF;
}

.scientist-signup_full_bottom:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9600px;
  right: 100%;
  background: #071C25;
}
.scientist-signup_full_bottom:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background: #071C25;
  width: 5000px;
  left: 100%;
}

.press-show {
  background: #DBDBDB;
}

/*==============================*/
//    MADE THESE CSS CHANGES
/*==============================*/
//admin panel
.inside input.eval-meta {
  width: 100%;
}

//article
article header {
  margin-bottom: 20px;
}

//SOCIAL MEDIA STYLING
.sd-content ul li.share-email,
.sd-content ul li.share-facebook,
.sd-content ul li.share-twitter {
  display: block;
  margin: 0 !important;
  padding: 10px 0px;
}

.sharedaddy.sd-sharing-enabled {
  position: absolute;
  top: 15em;
  left: 0;
}
.sd-social-icon .sd-content ul li a.sd-button.share-more {
  position: relative;
  left: -25px;
}

//footer
.foot-notes p.small {
  white-space: pre-wrap;
}

p.small {
  overflow-wrap: break-word;
}
/*==============================*/
/*==============================*/


// RESPONSIVE STUFF /////////////////////////
/* Extra small devices*/
@media (max-width: $screen-sm-max) {
  .sd-content ul li.share-email,
  .sd-content ul li.share-facebook,
  .sd-content ul li.share-twitter {
    display: inline-block;
    margin: 0 !important;
    padding: 10px 0px;
  }

  .sharedaddy.sd-sharing-enabled {
    position: static;
    top: 0;
    left: 0;
  }
  .sd-social-icon .sd-content ul li a.sd-button.share-more {
    position: static;
    left: 0;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .frontpagepostpic {
    img {
      width: 100px !important;
      height: auto !important;
      margin-top: 1.7em;
      margin-right: 2em;
    }
  }

  img {
    height: auto;

    &.fig {
      width: 100%;
    }

    &.sponser {
      height: 40px;
      width: auto;
      margin-bottom: 1em;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .frontpagepostpic {
    img {
      width: 180px !important;
      height: auto !important;
      margin-top: 1.7em;
      margin-right: 2em;
    }
  }

  img {
  height: auto;

    &.fig {
      width: 100%;
    }

    &.sponser {
      height: 70px;
      width: auto;
      margin-bottom: 1em;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}


